body {
    padding-top: 24px; 
    background-color: #fff;
    margin: 0 auto;
    @media (--small-viewport) {
        width: 1280px;
    }
}

.darth {
    &__vader {
        padding: 16px;
        margin-bottom: 16px;
        background: $primary-gradient;
        
        &--lightsaber {
            @mixin icon crystal;
            @mixin title;
            color: red;
            border-radius: 5px;
            @media (--small-viewport) {
                width: 50%;
            }
        }
    }
    &__maul {
        padding: 16px;
        background: $secondary-gradient;
        
        &--dual-lightsaber {
            @mixin icon crystal;
            @mixin title;
            color: #333;
            border-radius: 10px;
            @media (--small-viewport) {
                width: 50%;
            }
        }
    }
    &__name {
        color: $primary-color;
        font-family: Helvetica, Arial, sans;
    }
}
