node_modules/
bower_components/
.tmp/
!/dist/style.css
/dist*
*.sln
*.suo
*.backup
*.user
*.dbmdl
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe

**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
**/bin
**/obj
